<!DOCTYPE html>
<html>


    <head>
        <title>Student Result Analyzer</title>
        <link rel="icon" type="image/jpeg" href="{{ url_for('static', filename='images/logo.png.jpeg') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

    </head>
    <body>
        <div id="heading">
            <h1>Student Result Analyzer</h1>
            <p>Welcome to the Student Result Analyzer!</p>
        </div>

        <div class = 'table_of_toppers'>
            <h2>Our Toppers</h2>
            <br>
            {{topper_table | safe}}
        </div>

        
    </body>
</html>